<div class="full-screen-background-image row vh-100 vw-100">
  <div class="col-1">

  </div>
  <div class="col-6 ">
    <%= @simulation.intro_text&.html_safe %>
    <div class="my-2">
      <a href="/">
        <button class="btn btn-primary w-100 text-white" style="max-width:140px">Start</button>
      </a>
    </div>
  </div>

</div>

